<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./autoload.php" colors="true">
    <testsuites>
        <testsuite name="TraitsCollection Test Suite">
            <directory>Cranespud/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">Patterns/</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
